* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.moved {
  animation: Move 0.8s linear forwards;
}

@keyframes Move {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: initial;
  }
}
